<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app" class="container">
        <div class="img" id="app">
            <p id="top"> {{top}} </p>
            <p id="bottom"> {{bottom}} </p>
            <img src="background.jpg">
        </div>
        <hr>
        <divx>
            <label>Верхняя надпись:</label>
            <textarea v-model="top" placeholder="TOPTEXT"></textarea>
            <label>Нижняя надпись:</label>
            <textarea v-model="bottom" placeholder="BOTTOMTEXT"></textarea>
        </div>
    </div>
</body>

<script>
        new Vue({
            el: '#app',
            data: {
                top : "",
                bottom : ""
            }
        })
</script>
</html>